




$card-width: 325px;
$card-height: 85px;
$gap: 10px;
$gap-med: 5px;
$bd-rad: $gap-med;

$font-size: 13px;
$font-size-med: 12px;


$col-bg: #131313;
$col-bg-alt: #0F0F0F;
$col-bg-card: #171717;
$col-bg-hover: #232323;
$col-bg-active: #2A2A2A;

$col-fg: #B2B2B2;
$col-fg-alt: #676767;







*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;

}


input, button {
	all: unset;
	box-sizing: border-box
}

ul, ol {
	list-style: none;
}


.btn {
	padding: $gap;
	border-radius: $bd-rad;
	background-color: $col-bg-card;
	transition: background-color 0.15s;

	&:hover {
		background-color: $col-bg-hover;
	}
	&.enabled {
		background-color: $col-bg-active;
	}
	// &:active {
	// 	color: $col-fg-alt;
	// }
}


::placeholder {
	color: $col-fg-alt;
}








$icon-font: "liveview-icons";
@font-face {
	font-family: $icon-font;
	src: url("../resource/#{$icon-font}.otf");
}


$icons: (
	kick: "\E001",
	twitch: "\E002",
	refresh: "\E003",
	manage: "\E004",
	add: "\E005",
	delete: "\E006",
	settings: "\E007",
   
);


.icon {
	font-family: $icon-font;
}

@each $name, $icon in $icons {
	.icon-#{$name}::before {
		content: $icon;
	}
}
















@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-display: swap;
  font-weight: 300 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/red-hat-display:vf@latest/latin-wght-normal.woff2) format("woff2-variations");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


// @font-face {
//   font-family: "Saira Condensed";
//   font-style: normal;
//   font-display: swap;
//   font-weight: 400;
//   src: url(https://cdn.jsdelivr.net/fontsource/fonts/saira-condensed@latest/latin-400-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/saira-condensed@latest/latin-400-normal.woff) format("woff");
//   unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
// }












$font-global: "Red Hat Display", sans-serif;
$font-mono: "Consolas", sans-serif;

body {
	height: 100vh;
	background: $col-bg;
	color: $col-fg;


	font-family: $font-global;
	font-size: $font-size;
	font-weight: 700;



}







#stream-img-wrap {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	inset: 0;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 20;
	display: flex;

	// &:not([hidden]) {
	// 	// display: flex;
	// }

	img {
		border-radius: $bd-rad;
	}
}









#app {
	height: 100%;
	overflow-y: hidden;


	#control-bar {
		display: flex;
		background-color: transparent !important;
		padding: $gap;
		gap: $gap;
		// justify-content: center;


		.layout-btn {
			position: relative;
			.counter {
				font-family: $font-mono;
				position: absolute;
				left: 50%;
				top: 100%;
				transform: translateX(-50%);
				z-index: 5;

			}
		}

		#refresh {
			margin-left: $gap;
		}

		#manager-btn {
			margin-left: auto;
			// flex: 1;
		}

		#manager-btn, .menu-btn {
			position: relative;
			z-index: 10;

			&.enabled {
				#manager, .menu {
					display: flex;
				}
			}

			#manager, .menu {
				font-family: $font-global;
				background-color: $col-bg-alt;
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: calc($card-width / 1.5);
				height: $card-width;
				overflow: hidden;
				border-radius: $bd-rad * 2;
				flex-direction: column;
				gap: $gap;
				padding: $gap;



				.menu-row-wrap {
					display: flex;
					align-items: center;
				}

				.site-btns {
					gap: $gap;
					.btn {
						display: flex;
						flex: 1;
						justify-content: center;
					}
				}
				

				.user-row, .btn {
					&:hover {
						background-color: $col-bg-card;
					}
				}
				.btn {
					background-color: transparent;
					&.enabled {
						background-color: $col-bg-active;
					}
				}


				.input-row {
					padding: $gap;
					position: relative;
					.icon {
						font-size: $font-size-med;
						padding: 0;
					}


					input {
						font-family: inherit;
						flex: 1;
					}

					#completer-wrap {
						right: 0;
						display: none;
						position: absolute;
						background-color: $col-bg-card;
						top: 100%;
						left: 0;
						padding: $gap;
						overflow-y: auto;
						max-height: $card-width;


						&.visible {
							display: block;
						}

						#completer {
							display: flex;
							flex-direction: column;
							gap: $gap;
							text-align: left;

							span {
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;

								&:hover {
									color: $col-fg-alt;
								}
							}
						}

					}
					
				}

				#manager-user-wrap {
					overflow-y: auto;

					.icon {
						font-size: $font-size-med;
						background-color: transparent;
					}

					.manager-user-layout {
						display: none;
						flex-direction: column;
						&.visible {
							display: flex;
						}

						.user-row {
							display: flex;
							align-items: center;
							padding-left: $gap;
							border-radius: $bd-rad;

							&.focused {
								background-color: $col-bg-active;
							}

							span {
								flex: 1;
								text-align: left;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					  
					}
				}
			
			}




		   

			#settings {
				width: calc($card-width);


				.menu-row-wrap {
					gap: $gap;
				}
				span {
					text-wrap: nowrap;
				}

				input[type="checkbox"] {
					width: 1.2em;
					height: 1.2em;
					background-color: $col-bg-active;
					position: relative;
					display: flex;
					flex-shrink: 0;
					justify-content: center;
					align-items: center;
					border-radius: $bd-rad;


					&:checked {
						&::after {
							content: "✓";
							position: absolute;
							color: $col-fg;
							font-size: 0.7em;
						}
					}
				}


				#input-interval {
					font-family: $font-mono;
					text-align: center;
					min-width: 0;
					border-radius: $bd-rad;
					padding: $gap;
					background-color: $col-bg-card;
				}
			}
		


		}

	}






	#card-layout-wrap {
		height: 100%;
		display: flex;
	  
		.card-layout.visible:has(+ .divider + .card-layout:not(.visible)), .card-layout:not(.visible):has(+ .divider + .card-layout.visible)  {
			flex-basis: 100% !important;
			+ .divider {
				display: none;
			}
		}

	


		.card-layout {
			display: grid;
			grid-template-columns: repeat(auto-fit, $card-width);
			justify-content: center;
			align-content: start;
			gap: $gap;
			padding: 0 $gap;
			min-width: calc($card-width + $gap * 2);
			width: 100%;


			overflow-y: auto;
			&:not(.visible) {
				display: none;
			}


			.card {
				border-radius: $bd-rad * 2;
				user-select: none;
				display: flex;
				height: $card-height !important;
				overflow: hidden;
				flex: 0 0 $card-width;
				background-color: $col-bg-card;
				position: relative;



				// &::before {
				//     content: "";
				//     position: absolute;
				//     inset: 0;
				//     background-image: var(--img-url);
				//     aspect-ratio: 1;
				//     z-index: 1;
				//     height: 100%;
				//     background-size: contain;
				//     background-position: center left;
				//     background-repeat: no-repeat;
				//     // filter: blur(20px);
				//     transform: scale(1);
				//     // opacity: 0.2;
				//     pointer-events: none;
				// }

				.card-img {
					margin: $gap;
					z-index: 2;
					border-radius: $bd-rad;
					aspect-ratio: 1;
					object-fit: cover;
			  
				}

				// .card-img-blur {
				//     // display: none;
				//     position: absolute;
				//     inset: 0;
				//     height: 100%;
				//     filter: blur(30px);
				//     opacity: 0.2;
				//     pointer-events: none;
				// }

				.card-text-wrap {
					padding: $gap;
					padding-left: 0;
					display: flex;
					flex-direction: column;
					overflow: hidden;
					// line-height: 1.2em;
					flex: 1;

					.card-top-text {
						width: 100%;
						display: flex;
						.card-user {
							flex: 1;
							// margin-left: auto;
						}
					}


					.card-views {
						color: $col-fg-alt;
						font-size: $font-size-med;


					}

					.card-game {
						color: $col-fg-alt;
						font-size: $font-size-med;
						margin-bottom: 2px;
					}

					.card-title {
						color: $col-fg-alt;
						font-size: $font-size-med;
						// font-family: "Saira Condensed";
						line-height: 1.2em;
						word-wrap: break-word;
						// font-size: 16px;
						// font-weight: 600;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}

				}



			}
		}




		.divider {
			flex: 0 0 $gap;
			position: relative;


			&:hover {
				cursor: col-resize;
				&::before {
					height: 100%;
				}
			}

	  

			&::before {
				content: "";
				position: absolute;
				background-color: $col-bg-card;
				top: 50%;
				left: 50%;
				border-radius: $bd-rad;
				width: calc($gap / 3);
				height: $gap * 4;
				transform: translate(-50%, -50%);
				pointer-events: none;
			}
  

		}


	}


}
















::-webkit-scrollbar {
	width: $gap-med;
}

::-webkit-scrollbar-thumb {
	background: $col-bg-card;
	border-radius: $bd-rad;
	min-height: 40px;
	background-clip: padding-box;
}

@-moz-document url-prefix() {
	* {
		scrollbar-color: $col-bg-card transparent;
	}
}
 



